* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(12, 11, 11);
}


.imagen {
  background-image: url(../img/Cristo.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: rgb(240, 194, 203);
  font-weight: 300;
  font-size: 44px;
}

p {
  font-size: 19px;
}

/* -------------------------------------------- */
#gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  margin-bottom: 5px;
}

.gallery__item {
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(241, 236, 241);
  border-radius: 3px;
  cursor: pointer;
}

.gallery__item:hover {
  background-color: crimson;
}

.gallery__item a {
  color: aliceblue;
  text-decoration: none;
}
/* -------------------------------------------- */

footer {
  background: #c31432;
  background: linear-gradient(to bottom, #240b36, #c31432); 
}

@media (min-width: 320px) and (max-width: 475px) {
  .imagen {
    background-size: 180% 100%;
    object-fit: cover;
  }

  .gallery__item {
    font-size: 19px;
  }
}
