.imagen_jumbotron {
  background-image: url(../img/rosario_fondo.jpg);
  background-repeat: no-repeat;
  height: 91vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-content {
  width: 100%;
  text-align: center;  
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0!important;
}

body {
  background-color: rgb(13, 14, 13);
}

h1 {
  font-family: 'Dancing Script', cursive;
}

.btn-botoncito1 {
  background-color: #eaf371;
}

footer {
  background: #ff086b;
  background: linear-gradient(to bottom, #180922, #ff086b); 
}

@media (min-width: 320px) and (max-width: 475px) {
  .imagen_jumbotron {
    height: 95vh;
  }    
  
  .display-3 {
    font-size: 58px;
  }
}


/* Cambio de imagen del fondo index.html */
@media (min-width: 1200px) and (max-width: 1900px) {
  .imagen_jumbotron {
    background-image: url(../img/rosario_fondo2.jpg);
  }
}

