* {
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
}

body {
  background-color: #344034;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: rgb(248, 247, 163);
  font-weight: 300;
}

h5 {
  color: rgb(248, 141, 234);
  font-weight: bolder;
}

p {
  line-height: 8px;
  text-align: center;
  font-size: 18px;
}

i {
  color: rgb(248, 247, 163);
}



